# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django local files
db.sqlite3

# Environment variables
.env
.env.*

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
